.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-bottom-width: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena___power-indicator {
  width: 100%;
  height: 10px;
  border: 2px solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___power-bar {
  height: 100%;
  width: 0;
  background-color: #008aff;
}

.arena___timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 200px;
  margin: auto;
  color: #000;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-size: 150px;
  font-family: 'Arial Black';
  font-weight: 700;
}

@keyframes power-bar-animation {
  1% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.power-bar--filling-active {
  animation: power-bar-animation 10s linear;
  animation-fill-mode: forwards;
}

@keyframes move-up-animation {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

.move-up-animation {
  width: auto;
  justify-content: center;
  animation: move-up-animation 1s;
  animation-fill-mode: forwards;
}
