.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right,
.fighter-preview___left {
  width: 100%;
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___right img,
.fighter-preview___left img {
  align-self: center;
}

.fighter-preview___image-wrapper {
  flex-grow: 1;
  min-height: 0;
  align-self: center;
}

.fighter-preview___name {
  flex-shrink: 0;
  margin: 10px auto 20px;
}

.fighter-preview___stats-wrap {
  flex-shrink: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighter-preview___stats-wrap img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 3px;
}

.fighter-preview___stats-wrap img + img {
  margin-left: 20px;
}

.fighter-preview--active-right .fighter-preview___right,
.fighter-preview--active-left .fighter-preview___left {
  background: #cbe4f8;
  border: 5px solid #267abf;
}
